.root-pane {
    -fx-background-color: #292c34;
}

.background-rect {
    -fx-fill: linear-gradient(to bottom, #232526 60%, #343746 100%);
    -fx-opacity: 1;
    -fx-arc-width: 0;
    -fx-arc-height: 0;
}

.content-container {
    -fx-background-color: transparent;
    -fx-spacing: 30;
    -fx-alignment: center;
}

.game-title {
    -fx-text-fill: #fff;
    -fx-font-size: 140px;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.menu-cards-container {
    -fx-spacing: 25;
    -fx-alignment: center;
}

.menu-card, .menu-cards-container, .content-container {
    -fx-alignment: center;
}